*{
    padding:0;
    margin:0;
  
   
}
.header
{
    background-color: purple;
}
.row1
{
    width:100%;
    height:auto;
}
.note,.note1
{
    width:100%;
    background-color: white;
border-radius: 7px;
box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
display:block;

}
.note1
{
    width:20%;
    margin-left:40px!important;
    
    
}

::placeholder
{
    font-size: large;
}
.input1,.input2
{
margin-top:20px;
margin-left:10px;
margin-right:10px;
width:90%;
}
.add
{
    outline:none;
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: purple;
    color:white;
    font-size:20px;
    font-weight: bolder;
    border:1px solid white;
  
}
.heading,.para
{
    
    padding:10px;
    margin:10px 10px!important;
    text-align:left;
    overflow-y:auto;
    display:block;
     height:80px;
   
}



.footer
{
  position: absolute;
  bottom: 0;
}